/***** GENERAL STYLING *****/

@import url('https://fonts.cdnfonts.com/css/myriad-pro');

:root{
    --dark-purple: #0D0714;
    --light-purple: #E3D6F1;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
    background-color: var(--dark-purple);
    color: var(--light-purple);
    font-family: Arial, Helvetica, sans-serif;
}

.small-page{
    height: 100vh;
}

.logo{
    width: 141px;
    aspect-ratio: 2/1;
    object-fit: contain;
}

.container p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.golden-record{
    position: fixed;     
    top: 25%;
    z-index: 0;

    width: 35%;
    aspect-ratio: 1/1;
    object-fit: cover;

    transform: translateX(-40%);
}

.icons{
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.social-media-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 60%;
}

.socials-link{
    text-decoration: none;
    color: var(--light-purple);
    font-weight: bolder;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 2rem;
}

.socials-link p{
    margin: 0;
}

/* 

.ellipses{
    height: 515px;
    aspect-ratio: 1/1;

    position: absolute;
    right: -10%;
    top: 70vh;
}

*/

.ellipses{
    position: absolute;
    right: -7%;
    top: 70vh;
}

.ellipse{
    height: 475px;
    aspect-ratio: 1/1;

    border: 1px dashed var(--light-purple);
    border-radius: 50%;

    opacity: 60%;
}

.ellipse:nth-child(2){
    position: inherit;
    top: 6%;
    right: 10%;
}

/***** GENERAL STYLING *****/

/***** NAVIGATION BAR *****/

.nav-bar{
    padding: 2% 6% 1% 6%;

    position: fixed;
    top: 0;
    z-index: 1;
    width: 88%;

    background-color: var(--dark-purple);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-button-flex{
    padding: 0 15% 0 0;
    width: 55%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-buttons{
    color: var(--light-purple);

    text-decoration: none;

    font-weight: bold;
    font-size: 20px;
}

/***** NAVIGATION BAR *****/

/***** ANIMATION & LANDING *****/

.golden-record-landing{
    padding: 15px 0;

    width: 42%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.animated{
    margin: 0;
    padding: 0;

    animation: roll 2s linear;
    transform-origin: center;
    animation-fill-mode: forwards;
}

@keyframes roll {
    0% { 
        transform: translateX(0%) rotate(0deg);
    }
    100%{
        transform: translateX(-125%) rotate(360deg);
    }
}

/***** ANIMATION & LANDING *****/

/***** MAIN BODY *****/

.main-body{
    padding: 0 19% 0 32%;
}

.title:nth-child(1){
    margin-block-start: 3em;
}

.title{
    margin-block-start: 1.5em;
    margin-block-end: 0;

    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    font-weight: 100;
}

.sub-heading{
    margin: 3em 0 2em 0;

    font-size: 20px;
    font-weight: bolder;
}

.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-align: justify;
    text-justify: inter-word;
}

/***** MAIN BODY *****/

/***** AR PAGE *****/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-pic-container{
    width: 60vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.AR-presentation-pic{
    height: 95vh;
    object-fit: cover;
}

.credits ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 25vw;

    font-size: 10px;
}

.credits h4{
    text-align: center;
}

.credits a{
    color: var(--light-purple);
}

/***** AR PAGE *****/

/***** FOOTER *****/

.footer{
    height: 270px;

    background-color: var(--light-purple);
    color: var(--dark-purple);

    padding: 2% 10%;
}

.footer-grid{
    display: grid;
    grid-template-columns: 40% 60%;

    height: 100%;
}

.footer .sub-heading{
    margin: 1em 0em;
}

.footer .logo{
    width: 250px;
}

.socials-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80%;
    width: 100%;
}

.footer .social-media-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 7%;

    width: 100%;
}

.footer .socials-link{
    color: var(--dark-purple);
    font-weight: lighter;
}

.footer .icons{
    height: 30px;
}

/***** FOOTER *****/